* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

body {
  min-height: 100vh;
  min-width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "AlegreyaSans";
  font-display: swap;
  src: url("../fonts/AlegreyaSans-Bold.woff2") format("woff2"), url("../fonts/AlegreyaSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AlegreyaSans";
  font-display: swap;
  src: url("../fonts/AlegreyaSans-ExtraBold.woff2") format("woff2"), url("../fonts/AlegreyaSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "AlegreyaSans";
  font-display: swap;
  src: url("../fonts/AlegreyaSans-Regular.woff2") format("woff2"), url("../fonts/AlegreyaSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AlegreyaSans";
  font-display: swap;
  src: url("../fonts/AlegreyaSans-Medium.woff2") format("woff2"), url("../fonts/AlegreyaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RubikGlitch";
  font-display: swap;
  src: url("../fonts/RubikGlitch-Regular.woff2") format("woff2"), url("../fonts/RubikGlitch-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Play";
  font-display: swap;
  src: url("../fonts/Play-Bold.woff2") format("woff2"), url("../fonts/Play-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --white: #fff;
  --black: #111214;
  --accent: #4E42FF;
  --blue: #3FC6FE;
  --red: #C02E25;
  --rubik: "RubikGlitch", serif;
  --play: "Play", serif;
}

body {
  font-family: "AlegreyaSans", serif;
  font-weight: 400;
  color: var(--white);
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  max-width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #111214 url("../img/bg.svg") center/cover no-repeat;
}

.container {
  max-width: 1550px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  flex: 1 1 auto;
}

.btn_blue {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--white);
  padding: 20px 40px;
  border-radius: 12px;
  background: var(--accent);
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
}

.btn_blue:active {
  background: #382DD2;
}

.btn_white {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--accent);
  padding: 20px 40px;
  border-radius: 12px;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.5s ease;
}

.btn_white:active {
  background: #D9D7FF;
}

.btn_entry {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--white);
  padding: 14px 30px;
  border-radius: 12px;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid var(--accent);
  max-height: 52px;
}

.btn_entry:active {
  background: #382DD2 !important;
}

.btn_reg {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--white);
  padding: 14px 30px;
  border-radius: 12px;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  background: var(--accent);
  max-height: 52px;
}

.btn_reg:active {
  background: #D9D7FF !important;
  color: var(--accent);
}

.btn_up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: var(--white);
  z-index: 50;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

.btn_up svg {
  width: 24px;
  height: 24px;
  fill: var(--accent);
  transition: all 0.5s ease;
}

.btn_up:active {
  background: #382DD2 !important;
}

.btn_up:active svg {
  fill: var(--white);
}

.btn_up.active {
  opacity: 1;
  visibility: visible;
}

.header__body {
  padding: 5px 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 134px 1fr;
  gap: 24px;
}

.header__logo {
  width: 134px;
}

.header__logo img {
  max-width: 100%;
  height: auto;
}

.header__options,
.header__mob {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}

.header__menu-icon {
  width: 27px;
  min-width: 27px;
  height: 20px;
  position: relative;
  display: none;
  z-index: 150;
  position: relative;
}

.header__menu-icon span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 100%;
  height: 2px;
  background: var(--white);
  transition: opacity 0s ease 0.1s, background 0.5s ease;
}

.header__menu-icon::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 80%;
  background: var(--white);
  transition: transform 0.2s ease, top 0.2s ease 0.2s, background 0.5s ease;
}

.header__menu-icon::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 80%;
  background: var(--white);
  transition: transform 0.2s ease, top 0.2s ease 0.2s, width 0s ease 0.2s, background 0.5s ease;
}

.header__menu-icon._active span {
  opacity: 0;
}

.header__menu-icon._active::before {
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: top 0.2s ease, transform 0.2s ease 0.2s, background 0.5s ease;
}

.header__menu-icon._active::after {
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: top 0.2s ease, transform 0.2s ease 0.2s, width 0s ease 0.2s, background 0.5s ease;
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.menu__item {
  padding: 5px 0;
}

.menu__link {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
  transition: all 0.5s ease;
}

.lang {
  position: relative;
}

.lang.active .lang__body {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}

.lang__btn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang__btn svg {
  width: 100%;
  height: 100%;
  stroke: var(--white);
  transition: all 0.5s ease;
}

.lang__btn:active svg {
  stroke: #382DD2;
}

.lang__body {
  position: absolute;
  top: 130%;
  right: 0;
  background: #171624;
  border: 1px solid var(--accent);
  border-radius: 0 0 12px 12px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 20px);
  transition: all 0.5s ease;
}

.lang__link {
  display: block;
  color: var(--white);
  padding: 10px 20px;
  font-size: 1.125rem;
  transition: all 0.5s ease;
}

.lang__link.active {
  background: var(--accent);
}

.main {
  padding-top: 20px;
  margin-bottom: 60px;
}

.main__body {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.main__body::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 580px;
  height: 580px;
  border-radius: 50%;
  background: #292B95;
  filter: blur(600px);
  opacity: 0.5;
  z-index: -1;
}

.main__info {
  flex: 1 1 50%;
}

.main__title {
  font-family: var(--rubik);
  font-size: 3.125rem;
  margin-bottom: 24px;
}

.main__title span {
  color: var(--accent);
}

.main__image {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
}

.main__image img {
  max-width: 100%;
  height: auto;
}

.about {
  margin-bottom: 173px;
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-20%, 0);
  width: 580px;
  height: 580px;
  border-radius: 50%;
  background: #292B95;
  filter: blur(600px);
  opacity: 0.6;
}

.about__container {
  max-width: 1032px;
}

.about__body {
  position: relative;
}

.about__title {
  font-family: var(--rubik);
  font-size: 2.8125rem;
  text-align: center;
  margin-bottom: 48px;
}

.about__image {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.about__image img {
  max-width: 80%;
  height: auto;
  position: relative;
  z-index: 1;
}

.about__image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-radius: 30px;
  background: #3932AD;
}

.about__main {
  display: flex;
  align-items: center;
  gap: 24px;
}

.about__person {
  flex: 1 1 22%;
  max-width: 226px;
}

.about__text {
  flex: 1 1 78%;
  padding: 40px;
  border-radius: 20px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.3;
  background: rgba(17, 18, 20, 0.6);
}

.about__text p:not(:last-child) {
  margin-bottom: 16px;
}

.about__text svg {
  width: 40px;
  height: 30px;
  margin-bottom: 20px;
  fill: #3FC6FE;
}

.person-about__image {
  margin-bottom: -32px;
}

.person-about__image img {
  max-width: 100%;
  height: auto;
}

.person-about__footer {
  position: relative;
  padding: 10px;
  background: var(--red);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-about__name {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: center;
}

.person-about__link {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--white);
  display: flex;
  align-items: center;
}

.person-about__link svg {
  width: 20px;
  height: 20px;
  fill: var(--white);
  margin-right: 5px;
}

.statistics {
  margin-bottom: 183px;
  position: relative;
}

.statistics::before {
  content: "";
  position: absolute;
  right: 0;
  top: 100%;
  transform: translate(20%, -50%);
  width: 790px;
  height: 790px;
  border-radius: 50%;
  background: #292B95;
  filter: blur(600px);
  opacity: 0.6;
}

.statistics__body {
  position: relative;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.statistics__left {
  flex: 1 1 55%;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 35px;
  border-radius: 20px;
  background: rgba(17, 18, 20, 0.6);
}

.statistics__info {
  flex: 1 1 50%;
}

.statistics__title {
  font-family: var(--rubik);
  font-size: 2.8125rem;
  margin-bottom: 20px;
}

.statistics__text {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.3;
}

.statistics__text p:not(:last-child) {
  margin-bottom: 16px;
}

.statistics__right {
  flex: 1 1 45%;
}

.statistics__subtitle {
  font-family: var(--rubik);
  font-size: 2.375rem;
  margin-bottom: 20px;
}

.statistics__item {
  font-size: 1.375rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  min-height: 80px;
}

.statistics__item span {
  font-family: var(--play);
  font-size: 4.375rem;
  font-weight: 700;
  margin-right: 15px;
  color: var(--blue);
}

.statistics__btn {
  margin: 0 auto;
  position: relative;
}

.person-statistics__image {
  flex: 1 1 50%;
  max-width: 226px;
  margin-bottom: -32px;
}

.person-statistics__image img {
  max-width: 100%;
  height: auto;
}

.person-statistics__footer {
  position: relative;
  padding: 10px 20px;
  background: #501C8D;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-statistics__name {
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
}

.person-statistics__link {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--white);
}

.person-statistics__link svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  fill: var(--white);
}

.conditions {
  position: relative;
  margin-bottom: 150px;
}

.conditions::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-width: 1920px;
  height: 100%;
  background: url("../img/conditions/bg.svg") center/cover no-repeat;
}

.conditions__container {
  max-width: 1286px;
}

.conditions__body {
  position: relative;
  display: flex;
  gap: 32px;
  padding: 30px 0;
}

.conditions__person {
  flex: 1 1 20%;
  max-width: 226px;
  margin-top: -56px;
}

.conditions__info {
  flex: 1 1 40%;
}

.conditions__title {
  font-family: var(--rubik);
  font-size: 2.1875rem;
  margin-bottom: 27px;
}

.conditions__text {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 35px;
}

.conditions__text svg {
  width: 40px;
  height: 30px;
  margin-bottom: 16px;
  fill: var(--white);
}

.conditions__text p:not(:last-child) {
  margin-bottom: 16px;
}

.conditions__text b,
.conditions__text strong {
  font-weight: 800;
}

.conditions__list {
  flex: 1 1 25%;
}

.conditions__item {
  font-size: 1.375rem;
  font-weight: 500;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conditions__item:not(:last-child) {
  margin-bottom: 70px;
}

.conditions__item img {
  max-width: 156px;
  max-height: 100px;
  margin-bottom: 12px;
}

.conditions__item img:nth-of-type(2) {
  display: none;
}

.person-conditions__image {
  margin-bottom: -32px;
}

.person-conditions__image img {
  max-width: 100%;
  height: auto;
}

.person-conditions__footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  background: #FD5CCF;
}

.person-conditions__name {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--black);
  text-align: center;
  margin-bottom: 5px;
}

.person-conditions__link {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--black);
  text-align: center;
}

.person-conditions__link svg {
  width: 20px;
  height: 20px;
  fill: var(--black);
  margin-right: 5px;
}

.expertise {
  margin-bottom: 150px;
  position: relative;
  z-index: 1;
}

.expertise__container {
  max-width: 1032px;
}

.expertise__body {
  display: flex;
  gap: 32px;
  margin-bottom: 12px;
}

.expertise__person {
  flex: 1 1 50%;
  max-width: 226px;
}

.expertise__info {
  flex: 1 1 50%;
  padding: 40px;
  border-radius: 20px;
  background: rgba(17, 18, 20, 0.6);
}

.expertise__title {
  font-family: var(--rubik);
  font-size: 2.8125rem;
  margin-bottom: 20px;
}

.expertise__text {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.3;
}

.expertise__text p:not(:last-child) {
  margin-bottom: 16px;
}

.expertise__list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 50px;
}

.expertise__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.375rem;
  font-weight: 500;
}

.expertise__item img {
  margin-bottom: 12px;
  max-width: 100%;
  height: auto;
}

.expertise__btn {
  margin: 0 auto;
}

.person-expertise__image {
  margin-bottom: -32px;
}

.person-expertise__image img {
  max-width: 100%;
  height: auto;
}

.person-expertise__footer {
  position: relative;
  background: #3FC6FE;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-expertise__name {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 5px;
  color: #171624;
  text-align: center;
}

.person-expertise__link {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  color: var(--black);
}

.person-expertise__link svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  fill: #171624;
}

.faq {
  margin-bottom: 150px;
  position: relative;
}

.faq::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-10%, -40%);
  width: 670px;
  height: 670px;
  border-radius: 50%;
  background: #292B95;
  filter: blur(600px);
  opacity: 0.6;
}

.faq__wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.faq__person {
  flex: 1 1 20%;
  max-width: 226px;
}

.faq__info {
  flex: 1 1 40%;
  padding: 40px;
  border-radius: 20px;
  background: rgba(17, 18, 20, 0.6);
}

.faq__title {
  font-family: var(--rubik);
  font-size: 2.8125rem;
  margin-bottom: 20px;
}

.faq__text {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.3;
}

.faq__body {
  flex: 1 1 40%;
}

.faq__list {
  margin-bottom: 20px;
}

.faq__item {
  padding-bottom: 12px;
  border-bottom: 1px dashed #453F92;
}

.faq__item:not(:last-child) {
  margin-bottom: 30px;
}

.faq__question {
  font-size: 1.375rem;
  font-weight: 800;
  line-height: 1.3;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq__question._active svg {
  transform: rotate(-180deg);
  fill: #251CA3;
}

.faq__question svg {
  width: 36px;
  min-width: 36px;
  height: 36px;
  margin-left: 12px;
  fill: var(--accent);
  transition: all 0.5s ease;
}

.faq__answer {
  padding-top: 8px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.3;
}

.faq__footer {
  margin-bottom: 50px;
  font-size: 1.375rem;
  font-weight: 800;
  line-height: 1.3;
}

.person-faq__image {
  margin-bottom: -32px;
}

.person-faq__image img {
  max-width: 100%;
  height: auto;
}

.person-faq__footer {
  position: relative;
  padding: 10px 20px;
  background: var(--red);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-faq__name {
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
}

.person-faq__link {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 500;
}

.person-faq__link svg {
  width: 20px;
  height: 20px;
  fill: var(--white);
  margin-right: 5px;
}

.contacts {
  margin-bottom: 150px;
}

.contacts__container {
  max-width: 1032px;
}

.contacts__title {
  font-family: var(--rubik);
  font-size: 2.8125rem;
  margin-bottom: 60px;
  text-align: center;
}

.contacts__form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.contacts__form input,
.contacts__form textarea {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 16px 30px;
  border-radius: 12px;
  background: rgba(17, 18, 20, 0.6);
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.5s ease;
}

.contacts__form input::-moz-placeholder, .contacts__form textarea::-moz-placeholder {
  color: var(--white);
}

.contacts__form input::placeholder,
.contacts__form textarea::placeholder {
  color: var(--white);
}

.contacts__form input:focus,
.contacts__form textarea:focus {
  border: 1px solid #4E42FF !important;
}

.contacts__form input {
  width: 50px;
  flex: 1 1 25%;
}

.contacts__form textarea {
  flex: 1 1 100%;
  resize: none;
  min-height: 80px;
}

.contacts__form [type=submit] {
  cursor: pointer;
  flex: unset;
  border: none;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--white);
  padding: 20px 40px;
  border-radius: 12px;
  background: var(--accent);
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
}

.contacts__form [type=submit]:active {
  background: #382DD2;
}

.footer__body {
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  padding: 15px 0;
}

@media (max-width: 1550px) {
  .btn_blue {
    padding-block: calc(14px + 6 * (100vw - 320px) / 1230);
    padding-inline: calc(30px + 10 * (100vw - 320px) / 1230);
  }

  .header__logo {
    width: calc(100px + 34 * (100vw - 320px) / 1230);
  }

  .main__body::before {
    width: calc(450px + 130 * (100vw - 320px) / 1230);
    height: calc(450px + 130 * (100vw - 320px) / 1230);
  }

  .main__title {
    font-size: calc(1.75rem + 22 * (100vw - 20rem) / 1230);
  }

  .about__title {
    font-size: calc(1.625rem + 19 * (100vw - 20rem) / 1230);
    margin-bottom: calc(25px + 23 * (100vw - 320px) / 1230);
  }

  .about__image::before {
    border-radius: calc(7px + 23 * (100vw - 320px) / 1230);
  }

  .about__text {
    font-size: calc(1rem + 4 * (100vw - 20rem) / 1230);
    padding: calc(20px + 20 * (100vw - 320px) / 1230);
  }

  .statistics__left {
    padding: calc(20px + 15 * (100vw - 320px) / 1230);
  }

  .statistics__title {
    font-size: calc(1.625rem + 19 * (100vw - 20rem) / 1230);
  }

  .statistics__text {
    font-size: calc(1rem + 4 * (100vw - 20rem) / 1230);
  }

  .statistics__subtitle {
    font-size: calc(1.5rem + 14 * (100vw - 20rem) / 1230);
  }

  .statistics__item {
    min-height: calc(60px + 20 * (100vw - 320px) / 1230);
    font-size: calc(1.125rem + 4 * (100vw - 20rem) / 1230);
  }

  .statistics__item span {
    font-size: calc(3.5rem + 14 * (100vw - 20rem) / 1230);
  }

  .conditions__title {
    font-size: calc(1.5rem + 11 * (100vw - 20rem) / 1230);
  }

  .conditions__text {
    font-size: calc(1rem + 4 * (100vw - 20rem) / 1230);
  }

  .conditions__item {
    font-size: calc(1.125rem + 4 * (100vw - 20rem) / 1230);
  }

  .conditions__item img {
    max-width: calc(102px + 54 * (100vw - 320px) / 1230);
    max-height: calc(80px + 20 * (100vw - 320px) / 1230);
  }

  .expertise__info {
    padding: calc(20px + 20 * (100vw - 320px) / 1230);
  }

  .expertise__title {
    font-size: calc(1.625rem + 19 * (100vw - 20rem) / 1230);
  }

  .expertise__text {
    font-size: calc(1rem + 4 * (100vw - 20rem) / 1230);
  }

  .expertise__item {
    font-size: calc(1.125rem + 4 * (100vw - 20rem) / 1230);
  }

  .faq__info {
    padding: calc(20px + 20 * (100vw - 320px) / 1230);
  }

  .faq__title {
    font-size: calc(1.625rem + 19 * (100vw - 20rem) / 1230);
  }

  .faq__text {
    font-size: calc(1rem + 4 * (100vw - 20rem) / 1230);
  }

  .faq__question {
    font-size: calc(1.125rem + 4 * (100vw - 20rem) / 1230);
  }

  .faq__answer {
    font-size: calc(1rem + 4 * (100vw - 20rem) / 1230);
  }

  .faq__footer {
    font-size: calc(1rem + 4 * (100vw - 20rem) / 1230);
  }

  .contacts__title {
    font-size: calc(1.625rem + 19 * (100vw - 20rem) / 1230);
  }

  .contacts__form [type=submit] {
    padding-block: calc(14px + 6 * (100vw - 320px) / 1230);
    padding-inline: calc(30px + 10 * (100vw - 320px) / 1230);
  }
}

@media (max-width: 993px) {
  .header__menu-icon {
    display: block;
  }
}

@media (max-width: 992px) {
  .header__mob {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .header__lang {
    order: 3;
  }

  .header__btn.btn_entry {
    order: 2;
  }

  .header__btn.btn_reg {
    order: 1;
  }

  .menu__body {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: var(--app-height);
    z-index: 100;
    background: #171624;
    padding: 100px 30px 30px;
    transition: all 0.5s ease;
    transform: translate(100%, 0);
  }

  .menu__body._active {
    transform: translate(0, 0);
  }

  .menu__body._active::before {
    opacity: 1;
    visibility: visible;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(78, 66, 255, 0.7);
    z-index: -2;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    opacity: 0;
    visibility: hidden;
    transform: translate(-100%, 0);
    transition: all 0.5s ease;
  }

  .menu__body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #171624;
    z-index: -1;
  }

  .menu__list {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    margin-bottom: 50px;
  }

  .statistics__left {
    flex: 1 1 50%;
    flex-direction: column;
    gap: 14px;
  }

  .statistics__right {
    flex: 1 1 50%;
  }

  .faq__wrapper {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .main {
    margin-bottom: 30px;
  }

  .main__body {
    flex-direction: column;
  }

  .main__info {
    margin-bottom: 30px;
  }

  .about {
    margin-bottom: 70px;
  }

  .about::before {
    left: 50%;
    transform: translate(-50%, 0);
  }

  .about__image img {
    max-width: 100%;
  }

  .about__main {
    flex-direction: column;
  }

  .statistics {
    margin-bottom: 100px;
  }

  .statistics::before {
    opacity: 0.4;
    top: unset;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 0);
  }

  .statistics__body {
    flex-direction: column;
  }

  .statistics__subtitle {
    text-align: center;
  }

  .statistics__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .statistics__item {
    flex-direction: column;
    justify-content: center;
  }

  .statistics__item span {
    margin: 0 0 8px;
  }

  .conditions {
    margin-bottom: 70px;
  }

  .conditions__body {
    flex-direction: column;
  }

  .conditions__person {
    align-self: center;
  }

  .conditions__btn {
    margin: 0 auto;
  }

  .conditions__item:not(:last-child) {
    margin-bottom: 40px;
  }

  .expertise {
    margin-bottom: 70px;
  }

  .expertise__body {
    flex-direction: column;
  }

  .expertise__person {
    align-self: center;
  }

  .faq {
    margin-bottom: 70px;
  }

  .faq::before {
    transform: translate(0, -40%);
  }

  .faq__wrapper {
    flex-direction: column;
  }

  .faq__person {
    align-self: center;
  }

  .faq__body {
    width: 100%;
  }

  .contacts {
    margin-bottom: 70px;
  }

  .contacts__title {
    margin-bottom: 20px;
  }

  .contacts__form {
    flex-direction: column;
  }

  .contacts__form input {
    width: 100%;
  }

  .contacts__form textarea {
    min-height: 160px;
  }
}

@media (max-width: 576px) {
  .header__mob {
    max-width: 170px;
  }

  .expertise__list {
    flex-wrap: wrap;
    gap: 20px;
  }

  .expertise__item {
    flex: 1 1 40%;
  }
}

@media (any-hover: hover) {
  .btn_blue:hover {
    box-shadow: -3px -3px 0 #FF00FF, 3px 3px 0 #00FFFF;
  }

  .btn_white:hover {
    box-shadow: -3px -3px 0 #FF00FF, 3px 3px 0 #00FFFF;
  }

  .btn_entry:hover {
    background: var(--accent);
  }

  .btn_reg:hover {
    background: var(--white);
    color: var(--accent);
  }

  .btn_up:hover {
    background: var(--accent);
  }

  .btn_up:hover svg {
    fill: var(--white);
  }

  .header__menu-icon:hover span,
  .header__menu-icon:hover::before,
  .header__menu-icon:hover::after {
    background: var(--accent);
  }

  .menu__link:hover {
    color: var(--accent);
  }

  .lang__btn:hover svg {
    stroke: var(--accent);
  }

  .lang__link:hover {
    background: var(--accent);
  }

  .statistics__right:hover .statistics__item span {
    text-shadow: 3px 3px 0 #FF00FF;
  }

  .conditions__list:hover .conditions__item img:nth-of-type(1) {
    display: none;
  }

  .conditions__list:hover .conditions__item img:nth-of-type(2) {
    display: block;
  }

  .faq__question:hover svg {
    fill: #251CA3;
  }

  .contacts__form input:hover,
  .contacts__form textarea:hover {
    border: 1px solid rgba(255, 255, 255, 0.6);
  }

  .contacts__form [type=submit]:hover {
    box-shadow: -3px -3px 0 #FF00FF, 3px 3px 0 #00FFFF;
  }
}